{
    "printWidth": 80,
    "trailingComma": "es5",
    "semi": true,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "quoteProps": "consistent",
    "arrowParens": "always",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "endOfLine": "auto"
}